#project_dash_title_wrapper > h2 {
	border-bottom: 1px solid black;
}

.project-dash-container {
	margin-top: 5px;
}

#project_desc {
	font-size: 12px;
}

.underline {
	border-bottom: 1px solid #efefef;
}

span.status-active {
	color: #47d1ff;
}

span.status-halted {
	color: #ffcc00;
}

span.status-not-started {
	color: #cc0000;
}

span.status-completed {
	color: #008f00;
}

.pi {
	font-style: italic;
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

ul {
	overflow: hidden;
}