#project_dash_title_wrapper {
	border-bottom: 1px solid black;
}

#project_desc {
	font-size: 12px;
}

.underline {
	border-bottom: 1px solid #efefef;
}

.status-active {
	color: #008f00;
}

.pi {
	font-style: italic;
	font-size: 10px;
}

