#project_dash_title_wrapper > h2 {
	border-bottom: 1px solid black;
}

.back-button {
	margin-top: 5px;
}

#project_desc {
	font-size: 12px;
}

.underline {
	border-bottom: 1px solid #efefef;
}

span.status-active {
	color: #47d1ff;
}

span.status-blocked {
	color: #ffcc00;
}

span.status-not-started {
	color: #cc0000;
}

span.status-completed {
	color: #008f00;
}

.pi {
	font-style: italic;
	font-size: 10px;
}

.bold {
	font-weight: bold;
}

ul {
	overflow: hidden;
}

edit-delete {
	display: none;
}

edit-delete i {
	padding-left: 2px;
	padding-right: 2px;
}

edit-delete i:hover {
	cursor: pointer;
}

#edit-overlay, #delete-overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	min-height: 100%;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
}

.panel {
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
}

#edit-overlay:after, #delete-overlay:after {
	position: absolute;
	top:0px;
	left:0px;
	min-height: 100%;
	min-height: 100vh;
	width:100%;
	content: '';
	background-color: black;
	opacity: 0.3;
}