<div class='container project-dash-container col-xs-12'>
	<div class='row col-xs-12'>
		<span class='back-button' ui-sref='projects'><i class='fa fa-arrow-circle-o-left fa-4x'></i></span>
	</div>
	<div class='container col-xs-12'>
		<div id='project_dash_title_wrapper' class='row'>
			<h2>
				{{ Project.title }} <span class="{{ Project.status_class }}">({{ Project.status_text }})</span>
				<edit showonhover type='p_info'></edit>
			</h2>
		</div>
		<div id='project_desc' class='row'>
			<p>{{ Project.desc }}</p>
		</div>
		<div class='row'>
			Hours Used:
			<div class='col-xs-12'>
				<div class='progress progress_fixed'>
					<div class='progress-bar {{ Project.bar_color }}' role='progressbar' aria-valuenow='{{ Project.hours/Project.hours_allotted * 100 | number : 0 }}' aria-valuemin='0' aria-valuemax='100' 
						style='min-width: 5em; width: {{ (Project.hours > Project.hours_allotted) ? 100 : Project.hours/Project.hours_allotted * 100 | number : 0 }}%;'>
						{{ Project.hours }}/{{ Project.hours_allotted }}
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Researcher(s):
					<edit showonhover2 type='researchers'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="researcher in Project.researchers">
						{{ researcher.last_name }}, {{ researcher.first_name }} <span class='pi'>{{ researcher.pi == 1 ? "(Primary)" : "" }}</span>
					</li>
					<li>
						<add-button showhidden type='researcher'></add-button>
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Grant(s):
					<edit showonhover2 type='grants'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="grant in Project.grants">
						{{ grant.name }} ({{ grant.amount | currency }})
					</li>
					<li>
						<add-button showhidden type='grant'></add-button>
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Contributor(s):
					<edit showonhover2 type='users'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="user in Project.contributing_users">
						{{ user.name }} ({{ user.hours_contributed | number : 2}})
					</li>
					<li>
						<add-button showhidden type='user'></add-button>
					</li>
				</ul>
			</div>
		</div>
		<div id='second_row' class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Tech Used:
					<edit showonhover2 type='tech'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="t in Project.tech">
						{{ t }}
					</li>
					<li>
						<add-button showhidden type='tech'></add-button>
					</li>
				</ul>
			</div>
			<div class='col-xs-8'>
				<span class='col-xs-12 underline'>
					Extra Info:
					<edit  showonhover2 type='extra'></edit>
				</span>
				<ul type='none'>
					<li ng-show="Project.dep_server">
						<span class='bold'>Deployment Server: </span> <a href='{{ "http\://" + Project.dep_server }}'>{{ Project.dep_server }}</a>
					</li>
					<li ng-show="Project.git_repo">
						<span class='bold'>Git Repo: </span> <a href='{{ "http\://" + Project.git_repo }}'>{{ Project.git_repo }}</a>
					</li>
					<li>
						<span class='bold'>Start Date:</span> {{ Project.date_started | date : shortDate }}
					</li>
					<li ng-show="Project.date_completed">
						<span class='bold'>Date Completed:</span> {{ Project.date_completed | date : shortDate }}
					</li>
					<li ng-show="Project.excess_charges > 0">
						<span class='bold'>Excess Charges:</span> {{ Project.excess_charges | currency }}
					</li>
					<li ng-show="Project.misc_info">
						<span class='bold'>Misc Info:</span> {{ Project.misc_info }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id='edit-overlay' ng-show="overlay == 'edit'">
	<div class='panel panel-default' ng-controller='ProjectEditCtrl'>
		<div class='panel-body'>
			<form ng-if="fields.action == 'p_info'">
				<div class='form-group'>
					<label for='p_title'>Title:</label>
					<input class='form-control' type='text' ng-model='fields.title' id='p_title'>
				</div>
				<div class='form-group'>
					<label for='p_status'>Status:</label>
					<select class='form-control' id='p_status' ng-model='fields.status' ng-options='sc.status_text for sc in status_codes track by sc.status_text'></select>
				</div>
				<div class='form-group'>
					<label for='p_desc'>Description:</label>
					<textarea class='form-control' rows='4' cols='40' ng-model='fields.desc' id='p_desc'>{{ fields.desc }}</textarea>
				</div>
				<button type='button' class='btn btn-block btn-danger' ng-click='delete()'>Delete Project</button>
			</form>
			<form ng-if="fields.action == 'researchers'">
				<span class='col-xs-6 underline'>Name:</span><span class='col-xs-3 center underline'>Primary</span><span class='col-xs-3 center underline'>Delete</span>
				<div ng-repeat='r in fields.researchers'>
					<span class='col-xs-6'>{{ r.last_name}}, {{ r.first_name }}</span>
					<span class='col-xs-3 center'><input type='checkbox' ng-model='fields.primaries[r.r_ind]'ng-true-value='1' ng-false-value='0' /></span>
					<span class='col-xs-3 center' style='color:red;'><i class='fa fa-times' ng-click='delete(r.r_ind)'></i></span>
				</div>
			</form>
			<form ng-if="fields.action == 'grants'" class='form-inline'>
				<span class='col-xs-6 underline'>Name:</span><span class='col-xs-3 underline'>Amount:</span><span class='col-xs-3 center underline'>Delete</span>
				<span ng-repeat='g in fields.grants'>
					<span class='col-xs-6'>{{ g.name }}</span>
					<div class='col-xs-3 input-group' style='float:left;'>
						<span class='input-group-addon'>$</span>
						<input type='text' class='form-control' ng-model='g.amount' />
					</div>
					<span class='col-xs-3 center' style='color:red;'><i class='fa fa-times' ng-click='delete(g.g_ind)'></i></span>
				</span>
			</form>
			<form ng-if="fields.action == 'users'">
				<span class='col-xs-6 underline'>Name:</span><span class='col-xs-3 underline'>Hours:</span><span class='col-xs-3 center underline'>Delete</span>
				<span ng-repeat='u in fields.users'>
					<span class='col-xs-6'>{{ u.name }}</span>
					<span class='col-xs-3'><input type='text' class='form-control' ng-model='u.hours_contributed' /></span>
					<span class='col-xs-3 center' style='color:red;'><i class='fa fa-times' ng-click='delete(u.u_ind)'></i></span>
				</span>
			</form>
			<form id='tech_edit' ng-if="fields.action == 'tech'">
				<div ng-repeat='t in fields.tech'>
					<div><input type='text' class='form-control' ng-model='t.value'></div>
					<span style='color: red;'><i class='fa fa-times' ng-click='delete(t)'></i></span>
				</div>
			</form>
			<form id='extra_edit' ng-if="fields.action == 'extra'">
				<div class='form-group'>
					<label for='edit_dep_server' class='control-label'>Deployment Server:</label>
					<div class='input-group'>
						<span class='input-group-addon'>http(s)://</span>
						<input id='edit_dep_server' type='text' class='form-control' ng-model='fields.dep_server' />
					</div>
				</div>
				<div class='form-group'>
					<label for='edit_git_repo' class='control-label'>Git Repo:</label>
					<div class='input-group'>
						<span class='input-group-addon'>http(s)://</span>
						<input id='edit_git_repo' type='text' class='form-control' ng-model='fields.git_repo' />
					</div>
				</div>
				<div class='form-group'>
					<label for='edit_start_date' class='control-label'>Start Date:</label>
					<input id='edit_start_date' type='text' class='form-control' ng-model='fields.date_started' />
				</div>
				<div class='form-group'>
					<label for='edit_completed_date' class='control-label'>Date Completed:</label>
					<input id='edit_completed_date' type='text' class='form-control' ng-model='fields.date_completed' />
				</div>
				<div class='form-group'>
					<label for='edit_excess_charges' class='control-label'>Excess Charges:</label>
					<div class='input-group'>
						<span class='input-group-addon'>$</span>
						<input id='edit_excess_charges' type='text' class='form-control' ng-model='fields.excess_charges' />
					</div>
				</div>
				<div class='form-group'>
					<label for='edit_misc_info' class='control-label'>Misc Info:</label>
					<textarea class='form-control' rows='4' cols='40' ng-model='fields.misc_info'></textarea>
				</div>
			</form>
		</div>
		<div class='panel-footer'>
			<button type='button' class='btn btn-success' ng-click='save()'>Save</button>
			<button type='button' class='btn btn-default' ng-click='$parent.hideOverlay()'>Close</button>
		</div>
	</div>
</div>
<div id='add-overlay' ng-show="overlay == 'add'">
	<div class='panel panel-default' ng-controller='ProjectAddCtrl'>
		<div class='panel-body'>
			<div ng-if='add_action == "researcher"'>
				<button type='button' class='btn btn-sm btn-default' ng-class='d.select_type == "new" ? "active" : ""' ng-click='d.select_type = "new"'>New</button>
				<button type='button' class='btn btn-sm btn-default' ng-class='d.select_type == "existing" ? "active" : ""' ng-click='d.select_type = "existing"'>Existing</button>
				<form id='researcher_add_form' class='form-inline'>
					<select class='form-control' ng-if='d.select_type == "existing"' ng-model='d.researcher_id' ng-options='r.name for r in existing_data.researchers track by r.id'></select>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_researcher_first'>First Name</label>
						<input type='text' class='form-control' id='add_researcher_first' ng-model='d.first_name' placeholder='First' />
					</div>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_researcher_last'>Last Name</label>
						<input type='text' class='form-control' id='add_researcher_last' ng-model='d.last_name' placeholder='Last' />
					</div>
					<label class='checkbox-inline'>
						<input type='checkbox' ng-model='d.primary'>Primary?
					</label>
				</form>
			</div>
			<div ng-if='add_action == "grant"'>
				<button type='button' class='btn btn-sm btn-default' ng-clas='d.select_type == "new" ? "active" : ""' ng-click='d.select_type = "new"'>New</button>
				<button type='button' class='btn btn-sm btn-default' ng-class='d.select_type == "existing" ? "active" : ""' ng-click='d.select_type = "existing"'>Existing</button>
				<form id='grant_add_form' class='form-inline'>
					<select class='form-control' ng-if='d.select_type == "existing"' ng-model='d.grant_id' ng-options='g.name for g in existing_data.grants track by g.id'></select>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_grant_name'>Grant Name</label>
						<input type='text' class='form-control' id='add_grant_name' ng-model='d.grant_name' placeholder='Grant Name' />
					</div>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_grant_amount'>Amount</label>
						<div class='input-group'>
							<span class='input-group-addon'>$</span>
							<input type='text' class='form-control' id='add_grant_amount' ng-model='d.grant_amount' placeholder='0.00' />
						</div>
					</div>
				</form>
			</div>
			<div ng-if='add_action == "user"'>
				<button type='button' class='btn btn-sm btn-default' ng-clas='d.select_type == "new" ? "active" : ""' ng-click='d.select_type = "new"'>New</button>
				<button type='button' class='btn btn-sm btn-default' ng-class='d.select_type == "existing" ? "active" : ""' ng-click='d.select_type = "existing"'>Existing</button>
				<form id='user_add_form' class='form-inline'>
					<select class='form-control' ng-if='d.select_type == "existing"' ng-model='d.user_id' ng-option='u.name for u in existing_data.users track by u.id'></select>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_user_first'>First Name</label>
						<input type='text' class='form-control' id='add_user_first' ng-model='d.first_name' placeholder='First Name' />
					</div>
					<div class='form-group' ng-if='d.select_type == "new"'>
						<label class='sr-only' for='add_user_last'>Last Name</label>
						<input type='text' class='form-control' id='add_user_last' ng-model='d.last_name' placeholder='Last Name' />
					</div>
					<div class='form-group'>
						<label class='sr-only' for='add_user_hours'>Hours</label>
						<input type='text' class='form-control' id='add_user_hours' ng-model='d.hours' placeholder='Hours Contributed' />
					</div>
				</form>
			</div>
			<div ng-if='add_action == "tech"'>
				<form>
					<div class='form-group'>
						<label class='sr-only' for='add_tech'>New Tech</label>
						<input type='text' class='form-control' id='add_tech' ng-model='d.tech' />
					</div>
				</form>
			</div>
		</div>
		<div class='panel-footer'>
			<button type='button' class='btn btn-success' ng-click='save()'>Save</button>
			<button type='button' class='btn btn-default' ng-click='$parent.hideOverlay()'>Close</button>
		</div>
	</div>
</div>