<div class='container project-dash-container col-xs-12'>
	<div class='row col-xs-12'>
		<span class='back-button' ui-sref='projects'><i class='fa fa-arrow-circle-o-left fa-4x'></i></span>
	</div>
	<div class='container col-xs-12' ng-controller='ProjectDashCtrl'>
		<div id='project_dash_title_wrapper' class='row'>
			<h2>{{ Project.title }} <span class="{{ Project.status_class }}">({{ Project.status_text }})</span></h2>
		</div>
		<div id='project_desc' class='row'>
			<p>{{ Project.desc }}</p>
		</div>
		<div class='row'>
			Hours Used:
			<div class='col-xs-12'>
				<div class='progress progress_fixed'>
					<div class='progress-bar {{ Project.bar_color }}' role='progressbar' aria-valuenow='{{ Project.hours/Project.hours_allotted * 100 | number : 0 }}' aria-valuemin='0' aria-valuemax='100' 
						style='min-width: 5em; width: {{ (Project.hours > Project.hours_allotted) ? 100 : Project.hours/Project.hours_allotted * 100 | number : 0 }}%;'>
						{{ Project.hours }}/{{ Project.hours_allotted }}
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>Researcher(s):</span>
				<ul type='disc'>
					<li ng-repeat="researcher in Project.researchers">
						{{ researcher.last_name }}, {{ researcher.first_name }} <span class='pi'>{{ researcher.pi ? "(Primary)" : "" }}</span>
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>Grant(s):</span>
				<ul type='disc'>
					<li ng-repeat="grant in Project.grants">
						{{ grant.name }} ({{ grant.amount | currency }})
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>Contributor(s):</span>
				<ul type='disc'>
					<li ng-repeat="user in Project.contributing_users">
						{{ user.name }} ({{ user.hours_contributed | number : 2}})
					</li>
				</ul>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>Tech Used:</span>
				<ul type='disc'>
					<li ng-repeat="t in Project.tech">
						{{ t }}
					</li>
				</ul>
			</div>
			<div class='col-xs-8'>
				<span class='col-xs-12 underline'>Extra Info:</span>
				<ul type='none'>
					<li ng-show="Project.dep_server"><span class='bold'>Deployment Server: </span> <a href='{{ "http\://" + Project.dep_server }}'>{{ Project.dep_server }}</a></li>
					<li ng-show="Project.git_repo"><span class='bold'>Git Repo: </span> <a href='{{ "http\://" + Project.git_repo }}'>{{ Project.git_repo }}</a></li>
					<li><span class='bold'>Start Date:</span> {{ Project.date_started | date : shortDate }}</li>
					<li ng-show="Project.date_completed"><span class='bold'>Date Completed:</span> {{ Project.date_completed | date : shortDate }}</li>
					<li ng-show="Project.excess_charges"><span class='bold'>Excess Charges:</span> {{ Project.excess_charges | currency }}</li>
					<li ng-show="Project.misc_info"><span class='bold'>Misc Info:</span> {{ Project.misc_info }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>