<div class='container project-dash-container col-xs-12'>
	<div class='row col-xs-12'>
		<span class='back-button' ui-sref='projects'><i class='fa fa-arrow-circle-o-left fa-4x'></i></span>
	</div>
	<div class='container col-xs-12'>
		<div id='project_dash_title_wrapper' class='row'>
			<h2>
				{{ Project.title }} <span class="{{ Project.status_class }}">({{ Project.status_text }})</span>
				<edit showonhover type='p_info'></edit>
			</h2>
		</div>
		<div id='project_desc' class='row'>
			<p>{{ Project.desc }}</p>
		</div>
		<div class='row'>
			Hours Used:
			<div class='col-xs-12'>
				<div class='progress progress_fixed'>
					<div class='progress-bar {{ Project.bar_color }}' role='progressbar' aria-valuenow='{{ Project.hours/Project.hours_allotted * 100 | number : 0 }}' aria-valuemin='0' aria-valuemax='100' 
						style='min-width: 5em; width: {{ (Project.hours > Project.hours_allotted) ? 100 : Project.hours/Project.hours_allotted * 100 | number : 0 }}%;'>
						{{ Project.hours }}/{{ Project.hours_allotted }}
					</div>
				</div>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Researcher(s):
					<edit showonhover2 type='researcher'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="researcher in Project.researchers">
						{{ researcher.last_name }}, {{ researcher.first_name }} <span class='pi'>{{ researcher.pi == 1 ? "(Primary)" : "" }}</span>
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Grant(s):
					<edit showonhover2 type='grant'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="grant in Project.grants">
						{{ grant.name }} ({{ grant.amount | currency }})
					</li>
				</ul>
			</div>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Contributor(s):
					<edit showonhover2 type='user'></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="user in Project.contributing_users">
						{{ user.name }} ({{ user.hours_contributed | number : 2}})
					</li>
				</ul>
			</div>
		</div>
		<div class='row'>
			<div class='col-xs-4'>
				<span class='col-xs-12 underline'>
					Tech Used:
					<edit showonhover2 type='tech' idnum=0></edit>
				</span>
				<ul type='disc'>
					<li ng-repeat="t in Project.tech">
						{{ t }}
					</li>
				</ul>
			</div>
			<div class='col-xs-8'>
				<span class='col-xs-12 underline'>
					Extra Info:
					<edit  showonhover2 type='extra' idnum=0></edit>
				</span>
				<ul type='none'>
					<li ng-show="Project.dep_server">
						<span class='bold'>Deployment Server: </span> <a href='{{ "http\://" + Project.dep_server }}'>{{ Project.dep_server }}</a>
					</li>
					<li ng-show="Project.git_repo">
						<span class='bold'>Git Repo: </span> <a href='{{ "http\://" + Project.git_repo }}'>{{ Project.git_repo }}</a>
					</li>
					<li>
						<span class='bold'>Start Date:</span> {{ Project.date_started | date : shortDate }}
					</li>
					<li ng-show="Project.date_completed">
						<span class='bold'>Date Completed:</span> {{ Project.date_completed | date : shortDate }}
					</li>
					<li ng-show="Project.excess_charges > 0">
						<span class='bold'>Excess Charges:</span> {{ Project.excess_charges | currency }}
					</li>
					<li ng-show="Project.misc_info">
						<span class='bold'>Misc Info:</span> {{ Project.misc_info }}
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div id='edit-overlay' ng-show="overlay == 'edit'">
	<div class='panel panel-default' ng-controller='ProjectEditCtrl'>
		<div class='panel-body'>
			<form ng-if="fields.action == 'p_info'">
				<div class='form-group'>
					<label for='p_title'>Title:</label>
					<input class='form-control' type='text' ng-model='fields.title' id='p_title'>
				</div>
				<div class='form-group'>
					<label for='p_status'>Status:</label>
					<select class='form-control' id='p_status' ng-model='fields.status' ng-options='sc.status_text for sc in status_codes track by sc.status_text'>
						<!--<option ng-repeat='sc in status_codes' {{ sc.status_text == fields.status ? 'selected' : '' }}>{{ sc.status_text }}</option>-->
					</select>
				</div>
				<div class='form-group'>
					<label for='p_desc'>Description:</label>
					<textarea class='form-control' rows='4' cols='40' ng-model='fields.desc' id='p_desc'>{{ fields.desc }}</textarea>
				</div>
				<button type='button' class='btn btn-block btn-danger' ng-click='delete()'>Delete Project</button
			</form>
		</div>
		<div class='panel-footer'>
			<button type='button' class='btn btn-success' ng-click='save()'>Save</button>
			<button type='button' class='btn btn-default' ng-click='$parent.hideOverlay()'>Close</button>
		</div>
	</div>
</div>